<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.fanyafeng.modules">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".startup.TestStartupActivity"></activity>
        <activity android:name=".cache.CacheTestActivity" />
        <activity android:name=".taobaomain.TaoBaoMain1Activity" />
        <activity android:name=".taobaomain.TaoBaoMainActivity" />
        <activity android:name=".http.HttpLinkActivity" />
        <activity android:name=".testlog.TestLogActivity" />
        <activity android:name=".stickynavigationlayout.StickyNavigationLayoutActivity" />
        <activity android:name=".testfoldview.FoldViewActivity" />
        <activity android:name=".flowlayout.FlowLayoutActivity" />
        <activity
            android:name=".dialog.RippleDialogActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".task.HandleTaskActivity" />
        <activity android:name=".http.HttpActivity" />
        <activity android:name=".ninegrid.NineGridActivity" />
        <activity android:name=".widget.SudokuActivity" />
        <activity android:name=".mediapick.MediaPickActivity" />
        <activity android:name=".permission.PermissionTestActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>